<div class="min-h-screen bg-gray-100 p-6">
  <h1 class="text-4xl font-bold mb-4 text-center">Edit Patient</h1>

  <% if @current_user.role == 'receptionist' %>
    <div class="w-[80%] max-w-lg mx-auto bg-white p-6 rounded-lg shadow-md">
      <%= form_with model: @patient, url: dashboard_patient_path(@patient), method: :patch, local: true, class: "space-y-4" do |form| %>
        <div>
          <%= form.label :name, class: "block text-gray-700 font-medium mb-2" %>
          <%= form.text_field :name, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none" %>
        </div>
        
        <div>
          <%= form.label :age, class: "block text-gray-700 font-medium mb-2" %>
          <%= form.number_field :age, min: 0, max: 150, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none" %>
        </div>
        
        <div>
          <%= form.label :gender, class: "block text-gray-700 font-medium mb-2" %>
          <%= form.select :gender, ['Male', 'Female', 'Other'], {}, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none" %>
        </div>
        
        <div>
          <%= form.label :contact_info, class: "block text-gray-700 font-medium mb-2" %>
          <%= form.text_field :contact_info, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none" %>
        </div>
        
        <div>
          <%= form.label :medical_history, class: "block text-gray-700 font-medium mb-2" %>
          <%= form.text_area :medical_history, class: "w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none", rows: 3 %>
        </div>
        
        <%= form.submit 'Update Patient', class: "w-full bg-blue-600 text-white font-bold py-2 rounded-md hover:bg-blue-700" %>
      <% end %>
    </div>
  <% end %>
</div>